/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
	max-width: 1200px;
	margin: 40px auto;
}

.footer {
	margin-top: 60px;
}

p{
	text-align: left;
}

ol {
	list-style-position: inside;
	text-align: left;
	padding: 0;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}